<template>
  <h2 class="title">{{ MCQChallenge.question }}</h2>
  <h2 class="subtitle">{{ challenge.points }} coins</h2>
  
  <div class="buttons-container">
    <button class="custom-button color-white bg-danger" @click="answer(MCQChallenge.answers[0].id)">{{ MCQChallenge.answers[0].text }}</button>
    <button class="custom-button color-white bg-success" @click="answer(MCQChallenge.answers[1].id)">{{ MCQChallenge.answers[1].text }}</button>
    <button class="custom-button color-white bg-primary" @click="answer(MCQChallenge.answers[2].id)">{{ MCQChallenge.answers[2].text }}</button>
    <button class="custom-button color-white bg-warning" @click="answer(MCQChallenge.answers[3].id)">{{ MCQChallenge.answers[3].text }}</button>
  </div>
</template>

<script lang="ts" src="./mcq.ts" />
<style lang="scss" src="./mcq.scss" scoped />