.title {
  color: var(--color-darkgrey);
  text-align: center;
  font-size: 24px;
}

.subtitle {
  font-size: 20px;
  color: var(--color-warning);
  text-align: center;
  margin-bottom: 20px;
}

.buttons-container {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-row: auto auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  >button {
    cursor: pointer;
  }
}

@media (width > 600px) {
  .title {
    font-size: 30px;
  }

  .buttons-container {
    gap: 20px;
  }
}