<template>
  <form @submit.prevent="submit()">
    <label for="email">Email</label>
    <input type="text" name="email" v-model="email" />

    <label for="password">Mot de passe</label>
    <input type="text" name="password" v-model="password" />

    <input type="submit" value="Se connecter" />
    <span v-show="errorMessage.length > 0" class="error">{{ errorMessage }}</span>
  </form>
</template>

<script lang="ts" src="./login-form.ts" />
<style lang="scss" src="./login-form.scss" scoped />