<template>
  <div>
    <h1 class="title">Challenge du jour terminé...</h1>
    <h2 class="title">À demain !</h2>
  </div>
</template>

<script lang="ts" src="./finished.ts" />
<style lang="scss" src="./finished.scss" scoped />