<template>


  <div class="view-container">

    <div class="top flex-center">
    
    <img src="@/assets/img/shopping.png" class="shopping" alt="shopping" >
    
     <p> SHOP </p>
    </div >
      
    <div class="flex-center">

      <table id="articles">

        <tr>
          <td>
            <img src="@/assets/img/kdo.png" class="imgart">
          </td>
          <td>
            <img src="@/assets/img/dej.jpg" class="imgart" >
          </td>
        </tr>

        <tr>
          <td>
            <p> Carte cadeau </p>
          </td>
          <td>
            <p> Petit déjeuner </p>
          </td>
        </tr>
        
        
        <tr>
          <td>
            <img src="@/assets/img/miel.jpg" class="imgart">
          </td>
          <td>
            <img src="@/assets/img/savon.jpg" class="imgart" >
          </td>
        </tr>

        <tr>
          <td>
            <p> Pots de miel </p>
          </td>
          <td>
            <p> Savons artisanaux </p>
          </td>
        </tr>
        
        <tr>
          <td>
            <img src="@/assets/img/rhum.jpg" class="imgart">
          </td>
          <td>
            <img src="@/assets/img/fromage.jpg" class="imgart" >
          </td>
        </tr>

        <tr>
          <td>
            <p> Bouteilles de rhum </p>
          </td>
          <td>
            <p> Plateau de fromage </p>
          </td>
        </tr>


      </table>  

    </div> 



  </div>  
  
</template>

<script lang="ts" src="./shop.ts" />
<style lang="scss" src="./shop.scss" scoped />