.shopping{
    margin-right: 20px;
    width: 10% ;
    height:90%;
    }

.top{
    font-weight: bold;
    font-size: 150% ;
}

.imgart{
    width: 200px;
    height: 170px;
}

#articles {
    margin-top: 30px;
}

#articles tr td {
    background-color: white;
    text-align: center;
    margin: 0px;
    tab-size: 100px; 
    // border: 2px black solid;

}

.view-container {
    background: linear-gradient(135deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: rgba(255, 234, 166, 0.09);
  }



