<template>
  <div class="header">
    <div class="logo flex-center-y d-desktop">
      <img src="@/assets/img/logo.png" alt="Yu'R'in? Logo">
      <span>Yu'R'in ?</span>
    </div>

    <div class="nav">
      <div
        class="img-wrapper"
        @click="$router.push({name: 'Home'})"
      >
        <img src="@/assets/img/home.png" alt="Home Icon">
      </div>
      <div class="divider"></div>
      <div
        class="img-wrapper"
        @click="$router.push({name: 'Shop'})"
      >
        <img src="@/assets/img/shop.png" alt="Shop Icon">
      </div>
      <div class="divider"></div>
      <div
        class="img-wrapper"
        @click="$router.push({name: 'Leaderboard'})"
      >
        <img src="@/assets/img/podium.png" alt="Podium Icon">
      </div>
      <div class="divider"></div>
      <div
        class="img-wrapper"
        @click="$router.push({name: 'Profile'})"
      >
        <img src="@/assets/img/user.png" alt="Profile Icon">
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./header.ts" />
<style lang="scss" src="./header.scss" scoped />