.header {
  width: 100%;
  height: 70px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 10px #bbb;
}

.logo {
  min-width: fit-content;
  padding-left: 20px;
  margin-right: 20px;
  gap: 20px;
  >img {
    width: 50px;
  }
  >span {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-white);
  }
}

.nav {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  >.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.divider {
  height: 40px;
  border: 1px solid var(--color-white);
}

img {
  width: 40px;
  cursor: pointer;
}

@media (width < 750px) {
  .logo {
    >img {
      display: none;
    }
  }
}