.view-container {
  background: linear-gradient(135deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: rgba(255, 234, 166, 0.09);
}

.profile {
  width: 100%;
  flex-direction: column;
}

h1 {
  display: flex;
  gap: 5px;
  color: var(--color-darkgrey);
}

.score {
  font-size: 20px;
}