<template>
  <div class="view-container flex-center-y">

    <LoginForm
      v-if="!isUserConnected"
      @login="updateUser()"
    />

    <div v-else class="profile flex-center">
      <ProfileAvatar
        :initials="user.firstname[0]+user.lastname[0]"
        size="xl"
      />
      <h1>{{ user.firstname }} {{ user.lastname }}</h1>
      <span class="score">{{ user.score }} coins</span>
    </div>

  </div>
</template>

<script lang="ts" src="./profile.ts" />
<style lang="scss" src="./profile.scss" scoped />