 

.avatar-wrapper {
  width: 47px;
  height: 47px;
}

.conf-change-avatar {
  width: 47px;
  height: 47px;
	object-fit: cover;
	border-radius: 50%;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.29, 1.15, 0.45, 0.94) 0ms;
}

.img-wrap {
  width: 47px;
  height: 47px;
	background: #EAEAEA 0% 0% no-repeat padding-box;
	background-image: url("/assets/img/icons/download-blue.svg");
	background-repeat: no-repeat;
	background-position: center;
  background-size: 39%;
	opacity: 1;
	border-radius: 50%;
}

.img-wrap.hoverable:hover {
	cursor: copy;
	opacity: 0.85;
}

.conf-change-avatar.hoverable:hover,
.img-wrap.hoverable:hover img {
	opacity: 0;
}
