<template>
  <div v-if="computedSource.length > 0" class="avatar-wrapper" :style="sizeStyle">
    <!-- hidden input used to open the select file tab -->
    <!-- <input
      v-if="!locked && own"
      type="file"
      @change="setAvatarURL($event.target.files[0])"
      accept="image/*"
      ref="file"
      style="display: none"
    /> -->
    <input
      v-if="!locked && own"
      type="file"
      accept="image/*"
      ref="file"
      style="display: none"
    />
    <div
      class="img-wrap"
      :class="{ hoverable: !locked && own }"
      :style="sizeStyle"
    >
      <img
        class="conf-change-avatar"
        :class="{ hoverable: !locked && own }"
        :src="computedSource"
        alt="Profile picture image"
        :style="sizeStyle"
      />
    </div>
  </div>
</template>

<script lang="ts" src="./profile-avatar.ts"></script>
<style lang="scss" scoped src="./profile-avatar.scss"></style>
