.title {
  color: var(--color-darkgrey);
  text-align: center;
  font-size: 18px;

  &.test {
    font-size: 22px;
  }
}

button {
  width: 200px;
}

.subtitle {
  font-size: 18px;
  color: var(--color-warning);
  text-align: center;
  margin-bottom: 20px;
}
