<template>
  <h2 class="title test">Challenge collectif : La tour de spaguetti</h2>
  <h2 class="title">Munissez-vous d'un marshmallow, de scotch et d'une boîte de spaguetti.</h2>
  <h2 class="title">Le but est de faire la tour la plus haute possible avec au sommet le bonbon.</h2>
  <h2 class="title">Bon courage !</h2>
  <h2 class="subtitle">100 coins</h2>

  <div class="flex-center">
    <button class="custom-button color-white bg-success" @click="confirm()">Valider le challenge</button>
  </div>
  
</template>

<script lang="ts" src="./confirm.ts" />
<style lang="scss" src="./confirm.scss" scoped />