<template>
  <div class="view-container flex-center-y" @click="counter++">
    <div
      v-if="endChallengeAnimation"
      id="challenge-ender"
      class="flex-center color-white"
      :class="{start: endChallengeAnimation, 'bg-danger': !challengeSucceeded}"
    >
      <span>{{ challengeSucceeded ? "Bien joué !" : "Mauvaise réponse" }}</span>
      <span v-if="coinsEarned > 0 && challengeSucceeded">+ {{ coinsEarned }} coins</span>
    </div>
    <div v-if="challengeDone === false || counter > 5" class="challenge">
      <h1 class="title">Yu'R'in ?</h1>
      <MCQ
        v-if="challenge.type === 'qcm' && counter < 6"
        :challenge="challenge"
        @answer="endChallenge"
      />
      <Confirm
        v-else-if="counter > 5"
        :challenge="challenge"
        @confirm="endChallenge"
      />
    </div>
    <Finished v-else-if="challengeDone === true" />
    <div v-else>
      <h1 class="title color-danger">Impossible de récupérer le challenge du jour</h1>
    </div>
  </div>
</template>

<script lang="ts" src="./home.ts" />
<style lang="scss" src="./home.scss" scoped />