.view-container {
  background: linear-gradient(135deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: rgba(255, 234, 166, 0.09);
  justify-content: space-evenly;
  position: relative;
}

.title {
  color: #4cb5d2;
  font-size: 45px;
  text-align: center;
}

#challenge-ender {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-success);
  font-size: 40px;
  border-radius: 50%;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &.start {
    animation: end-challenge 5s 1;
  }
  >span {
    animation: end-challenge-text-opacity 500ms 1;
  }
}

@media (width > 600px) {
  .title {
    font-size: 70px;
  } 
}

@keyframes end-challenge {
  0% {
    width: 0;
    height: 0;
  }
  20% {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  80% {
    width: 100%;
    height: 100%;
    border-radius: 0;

  }
  100% {
    width: 0;
    height: 0;
    border-radius: 50%;
  }
}

@keyframes end-challenge-text-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}