:root {
  font-family: Source Sans Pro;

  --color-primary: #91cadc;
  --color-success: #00b894;
  --color-danger: #ff7675;
  --color-warning: #fdcb6e;
  --color-white: #ffffff;
  --color-darkgrey: #454b59;
}

.custom-button {
  min-width: 70px;
  height: 70px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px #ccc;
  &:active {
    box-shadow: none;
    transition: 60ms;
    transform: translateY(4px);
  }
}

@media (width > 500px) {
  .custom-button {
    min-width: 80px;
    height: 80px;
  }
}

.color {
  &-primary {
    color: var(--color-primary) !important;
  }
  &-success {
    color: var(--color-success) !important;
  }
  &-danger {
    color: var(--color-danger) !important;
  }
  &-warning {
    color: var(--color-warning) !important;
  }
  &-white {
    color: var(--color-white) !important;
  }
}


.bg {
  &-primary {
    background-color: var(--color-primary) !important;
  }
  &-success {
    background-color: var(--color-success) !important;
  }
  &-danger {
    background-color: var(--color-danger) !important;
  }
  &-warning {
    background-color: var(--color-warning) !important;
  }
}
