.view-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px); // viewport height - header height
  box-sizing: border-box;
  padding: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  &-x {
    display: flex;
    justify-content: center;
  }
  &-y {
    display: flex;
    align-items: center;
  }
}

.b {
  &-red {
    outline: 1px solid red;
  }
  &-green {
    outline: 1px solid green;
  }
  &-blue {
    outline: 1px solid blue;
  }
}

@media (width > 500px) {
  .d-mobile {
    display: none !important;
  }
}

@media (width < 501px) {
  .d-desktop {
    display: none !important;
  }
}