<template>
   
<div class="leaderboard view-container ">
  <div id="top" > 
  
     <div class="img">
     <img src="@/assets/img/confettis.png" class="conf" alt="conf" >
     <img src="@/assets/img/champion.png" class="coupe" alt="coupe" > 
     <img src="@/assets/img/confettis.png" class="conf" alt="conf" >
    </div>
  </div>

  <div class="contenu flex-center-x ">


    <table class="tableau" >
      <tr>
      <td> Victor Pereira : 400 score</td>
      </tr>
      <tr>
      <td> Élodie Parsy : 200 score</td>
      </tr>
      <tr>
      <td> Maxant Alexandre : 120 score</td>
      </tr>
      <tr >
      <td> Valentin Marie : 110 score</td>
      </tr>
      <tr >
      <td> Hugo Bayet : 110 score</td>
      </tr>
    </table>

    


  </div>   



</div>
</template>

<script lang="ts" src="./leaderboard.ts" />
<style lang="scss" src="./leaderboard.scss" scoped />