#top{
    display: flex;
    justify-content: space-around;
    background-color:#b5d2dc ;
    height: 200px;
}

.img{
    padding-top: 20px;
    height: 200px;
    max-width:500px ;
}
.conf{
    max-width: 100px ;
    max-height:100px;
}

.coupe{
    align-self: flex-end;
    height: 80%;
}

.leaderboard {    
    display: flex;
    padding: 3px ;
}

.tableau{
    margin-top: 25px;
}
.tableau tr{
    display: flex;
    margin-top: 15px;
    padding: 5px;
    border-radius: 50px;
    border: 2px  #b5d2dc solid;
}
 feBlend
.view-container {
  background: linear-gradient(135deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(130, 237, 237, 0.1) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: rgba(255, 234, 166, 0.09);
};